@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
body {
  font-size: 14px;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "SimSun";
}
table {
  border-collapse: collapse;
  /*让表格边框细线*/
  border-spacing: 0;
  /*清除边框间距*/
}
fieldset {
  border: 0 none;
  /*有些浏览器默认这些标签有边框，所以要清除默认边框*/
  display: block;
}
address,
caption,
cite,
code,
dfn,
em,
i,
u,
b,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
  /*清除标签默认文本样式和加粗*/
}
input,
textarea {
  outline: 0 none;
  /*去掉文本框的默认轮廓线*/
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "SimSun";
}
ol,
ul {
  list-style: none;
  /*清除列表默认样式*/
}
caption,
th {
  text-align: left;
  /*清除标签默认文本居中对齐*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  /*清除标题标签的默认样式*/
}
a {
  text-decoration: none;
  /*大部分页面中的链接没有下划线*/
}
.clearfix:after {
  height: 0;
  content: " ";
  display: block;
  overflow: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
  /*IE低版本浏览器不支持after伪类所以要加这一句*/
}
.wrap_box {
  width: 100%;
}
.wrapper {
  width: 1200px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.colormain {
  color: #2f85fc;
}
.header {
  height: 80px;
  border-bottom: 1px solid #ededed;
}
.header h1 {
  margin-top: 20px;
}
.header .search {
  width: 350px;
  margin-right: 15px;
  margin-top: 23px;
  position: relative;
}
.header .search input {
  width: 100%;
  line-height: 32px;
  outline: none;
  border: 1px solid #dddddd;
  border-radius: 3px;
  text-indent: 10px;
}
.header .search input:focus {
  border-color: #2f85fc;
}
.header .search i {
  position: absolute;
  font-size: 20px;
  width: 50px;
  text-align: center;
  right: 0;
  top: 0;
  line-height: 32px;
  color: #9d9d9d;
}
.xwzxnav .nav {
  width: 100%;
  background: #2f85fc;
  position: relative;
}
.xwzxnav .nav li {
  float: left;
  padding: 0 20px;
  line-height: 50px;
}
.xwzxnav .nav li .arrow {
  display: inline-block;
  transform: rotate(90deg);
}
.xwzxnav .nav li a {
  color: #ffffff;
}
.xwzxnav .nav li .secondnav {
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 99;
  display: none;
  width: 1200px;
  line-height: 40px;
  background: #f7f7f7;
  opacity: 0.8;
}
.xwzxnav .nav li .secondnav a {
  padding: 0 20px;
  color: #333333;
}
.xwzxnav .nav li .secondnav a:hover {
  color: #2f85fc;
}
.xwzxnav .nav li:hover {
  background: #4f99ff;
}
.xwzxnav .nav li:hover .arrow {
  transform: rotate(-90deg);
}
.xwzxnav .nav li:hover .secondnav {
  display: block;
}
.xwzxnav .nav .active {
  background: #4f99ff;
}
.footer {
  background: #494949;
  padding: 15px 0;
}
.footer .footercon {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.footer .footercon .about a {
  color: #ffffff;
  padding: 0 15px;
}
.footer .footercon .about a:hover {
  color: #2f85fc;
}
.footer .footercon .about span {
  color: #ffffff;
}
.footer .footercon .tip {
  width: 470px;
  margin: 15px auto;
  text-align: left;
  color: #ffffff;
}
.footer .footercon .friendlink {
  color: #ffffff;
}
.footer .footercon .link {
  width: 925px;
  text-align: left;
}
.footer .footercon .link a {
  padding-right: 30px;
  color: #ffffff;
}
.footer .footercon .link a:hover {
  color: #2f85fc;
}
